body{
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    background-color: #f4f4f9;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 75px;
}
#profile{
    background-color: white;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: red 5px solid;
}

#designation{
    margin: top -50px;;
    padding-top: 0px;
    color: rgb(187, 187, 187);
}

h1{
    margin-top: 10px;
    margin-bottom: -15px;
    padding-bottom: 0px;
}

#social{
    margin-top: 20px;
    border-top: 1px solid rgb(187, 187, 187);
    padding-top: 10PX;
    color: red;
}

a{
    padding: 10px;
    text-decoration: none;
    color: black;
}

a:hover{
    color: red;
}